@{
ViewBag.Title = "Index";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/JSX/Datasets.jsx")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/JSX/Api.js")"></script>

<script>
	DataMosApi.initialize({baseUrl: "api"});
</script>

<h2>Наборы данных</h2>

<div id="content"></div>